---
layout: page
title: Últimas notícias
---

{% assign noticias = site.data.noticias | sort: 'data' | reverse %}
<div class="row news">
  {% for noticia in noticias %}
  {% if noticia.data != lastdate %}
  <div class="col-xs-3 col-sm-1 text-right">
    {{ noticia.data | date: "%d/%m" }}
  </div>
  {% else %}
  <div class="col-xs-3 col-sm-1 text-right">
  </div>
  {% endif %}
  <div class="col-xs-9 col-sm-11 news-right">
    {% if noticia.curso %}<strong>{{ noticia.curso }}</strong>{% endif %}
    {{ noticia.noticia }}
  </div>
  {% assign lastdate = noticia.data %}
  {% endfor %}
</div>
